<nav>
    <div class="site-title">
        <a href="/"><h1>Aldi shopping calculator</h1></a>
        <p>How much will your shopping cost</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create a new food</a></li>
    </ul>
</nav>