<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include() %>
    <h1>About the site</h1>
    <h3>Knowing how much you are spending is important</h3>
    <p>Now more than ever it is so important to understand where your money is being spent.
        The cost of living is exploding and your weekly shop is no exception to this. This tool
        is designed to help you to understand how much a shop with Aldi is likely to cost. It requires
        some input from you but once you are up and running with your essentials you will be able to 
        build your shopping list in order to see how much it is going to cost, enabling you to plan
        your meals more cost effectively. 
    </p>

    <%- include() %> <!--footer partial-->
</body>
</html>