<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-food content">
        <form action="/food" method="POST">
            <label for="name">Food name:</label>
            <input type="text" id="name" name="name" required>
            <label for="price">Food price:</label>
            <input type="number" id="price" name="price" required>
            <label for="aisle">What aisle is it on</label>
            <input type="number" id="aisle" name="aisle" required>
            <button>Submit</button>
        </form>
    </div>
    

    <%- include('./partials/footer.ejs') %> <!--footer partial-->
</body>
</html>