<!DOCTYPE html>
<html lang="en">
<head>
    <%- include() %> <!--head partial-->
</head>
<body>
    <%- include() %> <!--nav partial-->
    
    <div class="list-content">
        <h2></h2>
    </div>
</body>
</html>