<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> <!--head partial-->
</head>
<body>
    <%- include('./partials/nav.ejs') %> <!--nav partial-->
    <div class="holder">
        <div class="list-content">
            
        </div>
    </div>
    <%- include('./partials/footer.ejs') %> <!--footer partial-->
</body>
</html>