<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> <!--head partial-->
</head>
<body>
    <%- include('./partials/nav.ejs') %> <!--nav partial-->
    
    <div class="list-content">
        <h2>All food</h2>
        
    </div>

    <%- include('./partials/footer.ejs') %> <!--footer partial-->
</body>
</html>