<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <%- include('./partials/nav.ejs')

    <h2 class="shopping-title">Shopping List</h2>

    <%- include('./partials/footer.ejs')
</body>
</html>