<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-recipe content">
        <form action="/food" method="POST" class="recipe-creation-form">
            <label for="recipe-name">Recipe Name</label>
            <input type="text" id="recipe-name" name="recipe-name" required>
            <!--
                !!need to decide how the data is going to be used to create a recipe, either i use
                !!data that is already created or i use the data input here to create the food and
                !!negate the need to create food separetley
            -->
        </form>
    </div>
</body>
</html>