<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-recipe content">
        <form action="/food" method="POST" class="recipe-creation-form">
            <label for="recipe-name">Recipe Name</label>
            <input type="text" id="recipe-name" name="recipe-name" required>
            
        </form>
    </div>
</body>
</html>